---
import { Image } from 'astro:assets';
import { getImage } from 'astro:assets';
import type { AuthorInfo } from '#lib/constants';
import { getLangFromUrl, useTranslations } from '#i18n/utils';

interface Props extends AuthorInfo {}
const { avatar, name, headline } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const image = await getImage({ src: avatar, format: 'avif' });
---

<div>
  <div class="hero-content flex-col lg:flex-row p-0">
    <Image
      loading="eager"
      src={image.src}
      alt={name}
      width={150}
      height={150}
      data-theme="light"
      class="mask mask-decagon bg-neutral"
    />
    <div>
      <h1 class="m-0!">{name}</h1>
      <p class="m-0!">
        {headline}
      </p>
    </div>
  </div>
</div>
