---
import { getLangFromUrl, useTranslations } from '#i18n/utils';
import { getCollection } from 'astro:content';

const links = await getCollection('links');

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

{
  links.length > 0 && (
    <section>
      <h2>{t('contact')}</h2>
      <ul class="p-0 flex flex-col gap-4">
        {links.map((link) => (
          <li class="flex not-prose max-md:flex-col items-baseline">
            <span
              class="md:min-w-40 opacity-90
             text-sm"
            >
              {link.data.label}
            </span>
            <a
              rel="noopener noreferrer"
              target="_blank"
              class="link link-hover text-base-content font-semibold"
              href={link.data.url}
            >
              {link.data.name}
            </a>
          </li>
        ))}
      </ul>
    </section>
  )
}
