---
import type { CollectionEntry } from 'astro:content';
import { formatDate } from '#lib/utils';
import { render } from 'astro:content';
import { getLangFromUrl } from '#i18n/utils';
import { getRelativeLocaleUrl } from 'astro:i18n';

interface Props {
  entry: CollectionEntry<'posts'>;
}

const lang = getLangFromUrl(Astro.url);

const { entry } = Astro.props;
const { remarkPluginFrontmatter } = await render(entry);
---

<li <div>
  <div>
    <span>{formatDate(entry.data.date)}</span>
  </div>
  <a
    href={getRelativeLocaleUrl(
      lang,
      `/posts/${entry.slug.replace(`/${lang}`, '')}/`,
    )}
  >
    <div>
      <span>{entry.data.title}</span>
      <span>{remarkPluginFrontmatter.minutesRead}</span>
    </div>
  </a>
</li>
