---
import BaseLayout from '#layouts/BaseLayout.astro';
import Author from '#components/Author.astro';
import { DEFAULT_CONFIGURATION } from '#lib/constants';
import Contact from '#components/Contact.astro';
import Experience from '#components/Experience.astro';
import { languages } from '#i18n/ui';
import { useTranslations } from '#i18n/utils';
import { getEntry, render } from 'astro:content';
import Skills from '#components/Skills.astro';

export async function getStaticPaths() {
  return languages.map((lang) => ({ params: { lang } }));
}

const { lang } = Astro.params;
const t = useTranslations(lang);

const entry = await getEntry('pages', `homepage/${lang}`);

if (!entry) {
  throw new Error('Homepage entry not found');
}
const { Content } = await render(entry);
---

<BaseLayout>
  <section>
    <Author
      {...DEFAULT_CONFIGURATION.author}
      headline={entry.data.headline ?? DEFAULT_CONFIGURATION.author.headline}
    />
  </section>

  <section>
    <h2>{t('about')}</h2>

    <Content />
  </section>
  <Contact />
  <Skills />
  <Experience />
</BaseLayout>
