---
import '#styles/global.css'
import { type Seo } from '#lib/constants'
import Header from '#components/Header.astro'
import Footer from '#components/Footer.astro'
import Head from '#components/Head.astro'

interface Props {
  seo?: Seo
}

const { seo } = Astro.props
---

<html lang="en" class="bg-base-200">
  <Head seo={seo} />
  <body class="min-h-dvh flex flex-col">
    <Header />
    <main class="flex flex-col flex-1 p-10 prose mx-auto max-w-7xl w-full">
      <slot />
    </main>
    <Footer />
  </body>
</html>
